body{
		background-image: url("http://s1.picswalls.com/wallpapers/2014/08/11/beautiful-money-wallpaper_090605496_192.jpg"); 
	}

	.form-container{
		background-color: #f6f7f8;
		width: 400px;
		height: 500px;
		margin: 200px auto;
		border-radius: 4px;
		padding: 60px 75px 90px;		
	}

	h1 {
		text-align: center;
		font-weight: 200px;
		margin-bottom: 30px;
		color: #008000 ;
	}
	
	select {
			text-align: center;
			height: 40px;
			font-size: 20px;

	}
	
	input {
			text-align: left;
			margin-top: 12px;
			margin-bottom: 30px;
			width: 380px;
			height: 60px;
			border-radius: 4px;
			border: 0.5px solid #edf0f2;
			font-size: 20px;
			color: #478bcc;	
	}
	input[type="button"] {
		width: 380px;
		height: 60px;
		background-color: #008000 ;
		color: #ffffff;
		border: none;
		font-size: 16px;
		margin-top: 20px;
		text-align: center;
	}
